@tailwind base;
@tailwind components;
@tailwind utilities;

@media screen(lg) {
  .bg-hero {
    width: 2000px;
    height: 300px;
    left: 30%;
    @apply absolute rounded-l-full top-52 bg-softBlue;
  }

  .bg-tabs {
    width: 2000px;
    height: 250px;
    right: 70%;
    @apply absolute rounded-r-full top-60 bg-softBlue;
  }
}

/* HAMBURGER MENU */

.hamburger {
  cursor: pointer;
  width: 24px;
  height: 24px;
  transition: all 0.25s;
  position: relative;
}

.ham-top,
.ham-mid,
.ham-bot {
  content: "";
  position: absolute;
  width: 24px;
  height: 3px;
  top: 0;
  left: 0;
  background: #000;
  transform: rotate(0);
  transition: all 0.5s;
}

.ham-mid {
  transform: translateY(7px);
}

.ham-bot {
  transform: translateY(14px);
}

.open {
  transform: rotate(90deg);
  transform: translateY(0px);
  position: fixed;
  top: 50px;
  right: 25px;
}

.open .ham-top {
  transform: rotate(45deg) translateY(6px) translateX(6px);
  background-color: #fff;
}

.open .ham-mid {
  display: none;
}

.open .ham-bot {
  transform: rotate(-45deg) translateY(6px) translateX(-6px);
  background-color: #fff;
}
